* {
	padding:0;
	margin:0;
}
body{
	background-color : #E0E0E0;
}
.maintab {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #F6F6F6;
	padding: 0;
}
.maintab > div {
	height: 60px;
	width:25%;
	float:left;
	text-align: center;
	color : #333;
}
.maintab > div > i{
	line-height: 40px;
	font-size : 24px;
}
.maintab > div > span{
	font-size : 14px;
}

.main_header {
	z-index: 2;
	left: 0;
	background: #F0F0F0;
	height:60px;
	line-height:60px;
	padding:0 10px;
}

.main_content {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 60px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

.main_content .box{
	overflow:hidden;
	background:#FFFFFF;
	border:1px solid #ddd8ce;
}

.main_content .box_nav{
	border-bottom:1px solid #F6F6F6;
	min-height:26px;
	line-height:26px;
	padding:10px;
}
