* {
	padding:0;
	margin:0;
}
body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color : #E0E0E0;
	font-size:16px;
}

.iconfont{
	font-size:1rem;
}

.main_header {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height:3rem;
	background: #3C3C3C;
	line-height:3rem;
}
.main_header i,font{
	font-size:1rem;
	color:#FFFFFF;
}

.main_tab {
	position: fixed;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.3rem;
	background: #F6F6F6;
}

.main_tab > div {
	float:left;
	width:25%;
	text-align: center;
	color : #333;
	padding:.4rem 0;
}

.main_tab > div > i{
	display:block;
	margin-top:.2rem;
	font-size : 1.6rem;
	line-height:1.2rem;
}

.main_tab > div > span{
	font-size : .8rem;
}

.main {
	z-index: 1;
	margin: 3rem 0 3.3rem 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	position: auto;
}

.box_nav{
	background:#FFFFFF;
	padding:0 1rem;
}

.box_nav .box_nav_inner{
	height:2.2rem;
	padding:.5rem 0;
	border-bottom:.1rem solid #E0E0E0;
}

.box_nav_inner .nav_logo{
	float:left;
	height:100%;
}

.box_nav_inner .nav_logo_box{
	float:left;
	height:2.2rem;
	width:2.2rem;
	background:red;
	text-align:center;
	line-height:2.2rem;
	color:#FFFFFF;
}

.nav_logo_box i{
	font-size:1.5rem;
}

.box_nav_inner .nav_title{
	vertical-align:top;
	font-size:1rem;
	font-weight:500;
	line-height:2.2rem;
	padding-left: 1rem;
}

.box_nav_split{
	height:1rem;
	font-size: .8rem;
	padding-left: 1rem;
	line-height:1.5rem;
}
