* {
	padding:0;
	margin:0;
}
body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color : #E0E0E0;
	font-size:16px;
}

.main_header {
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height:3.5rem;
	background: #3C3C3C;
	line-height:3.5rem;
}
.main_header i,font{
	font-size:1.3rem;
	color:#FFFFFF;
}

.main_tab {
	position: fixed;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.5rem;
	background: #F6F6F6;
}
.main_tab > div {
	float:left;
	width:25%;
	text-align: center;
	color : #333;
}
.main_tab > div > i{
	display:block;
	margin-top:.2rem;
	font-size : 1.8rem;
}
.main_tab > div > span{
	font-size : 1rem;
}

.main {
	z-index: 1;
	margin: 3.5rem 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	position: auto;
}

.main .box{
	
}

.main .box_nav{
	
}
