/* frontend */

.cpd_front_list, .cpd_front_list li {
	list-style-type: none !important;
	margin-left: 0 !important;
}

.cpd_front_list li b { /* values */
	float: right;
}

/* settings */


.cpd_backups {
	width: 100%;
	border: 1px #ccc solid;
	border-collapse: collapse;
}

.cpd_backups tr:nth-child(2n) {
	background: #fff;
}

.cpd_backups td {
	 border-bottom: 1px #ccc solid;
}

.cpd_backups a {
	 text-decoration: none;
}

.cpd_green {
	font-size: 16px;
	font-weight: bold;
	color: green;
	margin-right: 3px;
}

.cpd_halfsize {
	width: 49%;
	float: left;
}

.cpd_settings fieldset {
	margin: 5px 5px 20px;
	padding: 0 10px 0px;
	border: 1px solid #dfdfdf;
	background: #fafafa;
}

.cpd_settings legend {
    background: #eee;
	border: 1px solid #dfdfdf;
    margin: 0 10px;
    padding: 1px 7px 2px;
    text-shadow: 0 1px 0 #fff;
    font-size:15px;
}

.cpd_settings .form-table {
	margin-bottom: 5px !important;
}

.cpd_red {
	color:red !important;
}

.cpd_backup{background-position: 0 0}
.cpd_clean{background-position: 0 -46px}
.cpd_collection{background-position: 0 -92px}
.cpd_computer{background-position: 0 -138px}
.cpd_calendar{background-position: 0 -184px}
.cpd_day{background-position: 0 -230px}
.cpd_geoip{background-position: 0 -276px}
.cpd_help{background-position: 0 -322px}
.cpd_massbots{background-position: 0 -368px}
.cpd_online{background-position: 0 -414px}
.cpd_post{background-position: 0 -460px}
.cpd_reads{background-position: 0 -506px}
.cpd_referrer{background-position: 0 -552px}
.cpd_reset{background-position: 0 -598px}
.cpd_settings{background-position: 0 -644px}
.cpd_summary{background-position: 0 -690px}
.cpd_tools{background-position: 0 -736px}
.cpd_uninstall{background-position: 0 -782px}
.cpd_update{background-position: 0 -828px}
.cpd_user{background-position: 0 -874px}

.cpd_logo {
 	width: 32px;
 	height: 32px;
 	vertical-align: middle;
}

/* dashboard */

#cpd-flot-place {
	padding: 5px;
	background: #fff;
	border: 1px #ccc solid;
	margin: 5px 8px;
}

#cpd-flot-place .button {
	padding: 2px 10px;
	height: 20px;
	line-height: 14px;
}

#cpd-flot-choice {
	padding: 5px;
	text-align: center;
}

#cpd-flot {
	clear: both;
	overflow: hidden;
	margin-top: 5px;
}

#cpd-tooltip {
	position: absolute;
	z-index: 10;
	display: none;
	text-align: center;
	padding: 2px 4px;
	border: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.cpd-list-chart {
	margin-bottom: 10px;
	border: 1px solid #ddd;
	background: -moz-linear-gradient(top, #ccc 0, #fff 80%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(80%, #fff));
}

.cpd-dashboard .inside {
	padding: 0 5px;
}

.cpd-dashboard .postbox {
	min-width: 0 !important;
}

.cpd-dashboard .cpd_front_list {
	padding-right: 5px;
	max-height: 200px;
	overflow-y: auto;
}

.cpd-dashboard li {
	color: #777;
	padding-bottom: 2px;
	border-bottom: 1px #ddd dotted;
	overflow: hidden;
}

.cpd-dashboard li b {
	float: right;
	text-align: right;
	font-size: 1.2em;
	color: #2583ad;
}

.cpd-dashboard li span {
	color: #f00;
}

.cpd-dashboard a {
	text-decoration: none;
}
/* column on post and page lists */
.column-cpd_reads {
	width: 50px;
	white-space: nowrap;
	overflow: visible;
}

.cpd-l {}

.cpd-r {
	float: right;
	text-align: right;
}

/* otherwise hidden on little displays */
.columns-prefs .columns-prefs-3, .columns-prefs .columns-prefs-4 {
    display: inline-block !important;
}


/* widget */

.cpd_widget_item {
	padding: 2px 5px;
	background: #eee;
	cursor: move;
	border-radius: 4px;
}

.cpd_widget_title {
	cursor:auto;
}

.cpd_widget_item .widefat {
	width: 235px !important;
	margin-left: 15px;

}

/* thickbox */

.cpd-thickbox {
	background-color: #F7F6F1;
	font-size: 13px;
	}

.cpd-thickbox h2 {
	font: italic 1.5em Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	margin: 0;
	padding: 0;
	color: #093E56;
}

.cpd-thickbox li {
	padding-bottom: 5px;
	border-top: none;
}

/* notes thickbox */

.cpd-notes {
	width: 100%;
	width: auto;
	margin: 1px;
	border-color: #000;
	border-collapse: collapse;
	}

.cpd-notes td, .cpd-notes th {
	vertical-align: top;
	text-align: left;
	padding: 2px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px #aaa solid;
	}

.cpd-notes th {
	background-color: #8cbdd5;
	font-weight: bold;
	}

.cpd-notes .nowrap {
	white-space: nowrap;
	}

.cpd-notes .red {
	background-color: #f00;
	color: #ff0;
}

.cpd-notes .green {
	background-color: #0a0;
	color: #ff0;
}

.cpd-notes input {
 	width: 97%;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

/* clients */


.cpd-client-chrome{background-position:0 0;}
.cpd-client-firefox{background-position:0 -49px;}
.cpd-client-msie{background-position:0 -98px;}
.cpd-client-opera{background-position:0 -147px;}
.cpd-client-safari{background-position:0 -196px;}

/*referrers */

#cpd_referrers li a {
	width: 85%;
	display: block;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}
